{
	"presets": [
		"es2015-native-modules",
		"stage-1"
	],
	"plugins": [
		"react-hot-loader/babel",
		"syntax-jsx",
		[
			"transform-react-jsx",
			{ "pragma": "h" }
		],
		[
			"transform-imports",
			{
				"lodash": {
					"transform": "lodash/${member}"
				}
			}
		]
	]
}
