@mixin reset-list() {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

@mixin desktop() {
	@media ( min-width: #{ ( $desktop-width + 1px ) } ) {
		@content;
	}
}

@mixin container() {
	max-width: 95%;
	margin: 0 auto;

	@include desktop() {
		max-width: $content-max-width;
	}
}
