.master-bar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;

	body.admin-bar & {
		top: 32px;
	}
}

.master-bar__search {
	outline: none;
	display: block;
	width: 100%;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: #ccc;
	padding: 16px 8px;
}
